<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Регистрация</title>
</head>

<head th:insert="blocks/head::head"></head>

<body style="background-color: #c08081">

<nav class="navbar navbar-dark navbar-expand-md sticky-top navbar-shrink py-3" id="mainNav"
     th:insert="blocks/nav :: nav" style="background-color: black">
</nav>

<section class="py-5">
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="fw-bold"><strong>Регистрация</strong><br></h2>
            </div>
        </div>
        <div th:if="${message}" class="row">
            <div class="col"></div>
            <div class="col">
                <div class="alert alert-warning" role="alert">
                    <strong th:text="${message}"></strong>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-body text-center d-flex flex-column align-items-center" style="background-color: black">
                        <form method="post" action="/reg">
                            <div class="mb-3">
                                <input class="form-control" type="text" name="username" placeholder="Логин" required>
                            </div>
                            <div class="mb-3">
                                <input class="form-control" type="password" name="password" placeholder="Пароль"
                                       required>
                            </div>
                            <div class="mb-3">
                                <input class="form-control" type="password" name="password_repeat"
                                       placeholder="Повторите пароль" required>
                            </div>
                            <div class="mb-3">
                                <input class="form-control" type="tel" name="tel" placeholder="Номер телефона"
                                       pattern="[0-9]{12}" required>
                                <span>Пример: 123456789012</span>
                            </div>
                            <div class="mb-3">
                                <input class="form-control" type="text" name="passport" placeholder="Серия паспорта"
                                       pattern="[A-Z]{2}[0-9]{7}" required>
                                <span>Пример: AA1234567</span>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary shadow d-block w-100" type="submit">Зарегистрироваться
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



</body>

</html>