<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Добавить поездку</title>
</head>

<head th:insert="blocks/head::head"></head>

<body style="background-color: #A78199">

<nav class="navbar navbar-dark navbar-expand-md sticky-top navbar-shrink py-3" id="mainNav"
     th:insert="blocks/nav :: nav" style="background-color: black">
</nav>

<section class="py-5">
    <div class="container py-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="fw-bold">Добавить поездку</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-xl-4">
                <form action="/route/add" class="p-3 p-xl-4" method="post">
                    <div class="row">
                        <div class="col mb-3">
                            <input class="form-control" type="text" name="begin" placeholder="Откуда">
                        </div>
                        <div class="col mb-3">
                            <input class="form-control" type="text" name="end" placeholder="Куда">
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary shadow d-block w-100" type="submit">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


</body>

</html>