<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Политика сервиса такси</title>
</head>
<head th:insert="blocks/head::head"></head>

<body style="background-color: #997404">
<nav class="navbar navbar-dark navbar-expand-md sticky-top navbar-shrink py-3" id="mainNav"
     th:insert="blocks/nav :: nav" style="background-color: black"></nav>
<section class="py-5">
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="fw-bold">Политика сервиса такси<br></h2>
            </div>
        </div>
        <div class="row mx-auto mb-5" style="/*max-width: 700px;*/">
            <div class="col">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolore dolores est fugiat harum
                    illum nam, necessitatibus neque nobis numquam pariatur quo quod, suscipit velit voluptatem?
                    Distinctio hic mollitia voluptatum!</p>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consectetur facere illum incidunt itaque labore libero magnam, maiores natus nemo neque numquam repellat soluta? Ea enim eos sequi sunt unde.</span>
            </div>
        </div>
    </div>
</section>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bold-and-dark.js"></script>
</body>

</html>